certifi==2022.12.7
chardet==3.0.4
idna==2.9
joblib==0.15.1
numpy==1.18.5
pandas==1.0.4
pgcopy==1.4.1
psycopg2==2.8.5
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
ta==0.5.25
threadpoolctl==2.1.0
urllib3==1.26.5
tda-api==0.3.2
yfinance==0.1.54
selenium==4.0.0a6post2
webdriver-manager==3.1.0
git+https://github.com/alpacahq/alpaca-trade-api-python.git